a{
    text-decoration: none;
    color: #707070;
}
a:hover{
    text-decoration: none;
    color: #707070;
}
body{
   color: #707070;
}
.bg-grey{
    background-color: #707070;
    color: white;
}

.btn-no-style{
    background: none;
    color: inherit;
    border: none;
    padding: 0;
    font: inherit;
    cursor: pointer;
    outline: inherit;
    transition: 0.2s;
}

.btn-no-style:hover{
    color: #c9c9c9;
}

.btn-no-style:active{
    color: #d45d5d;
}